<ion-view title="Account" id="page14">
  <ion-content padding="true" class="has-header">
    <ion-list id="account-list7">
      <ion-item class="item-avatar" id="account-list-item16">
        <img ng-src="https://www.gravatar.com/avatar/00000000000000000000000000000000">
        <h2 ng-if="username">{{username}}</h2>
        <h2 ng-if="!username">Not logged in</h2>
      </ion-item>
      <ion-item id="account-list-item22" ui-sref="tabsController.login()" ng-if="!username">Login</ion-item>
      <ion-item id="account-list-item23" ng-if="username" ng-click="logout()">Logout</ion-item>
      <ion-item id="account-list-item24" ui-sref="tabsController.events({type: 'MyEvents'})" ng-if="username">My Registered Events</ion-item>
    </ion-list>
  </ion-content>
</ion-view>